.MainPage{
    height:100%;
    width: 100%;
    text-align: center;
    align-self: center;
    align-content: center;
    margin: auto;
    /* background-color: #20bf55;
    background-image:linear-gradient(315deg, #20bf55 0%, #01baef 74%); */


}

.textarea{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 20px;
    outline: none;
    border: none;
    
}
.Firstdiv{
    /* /* height: 70%; */
    width: 65%; 
    display: flex;
    flex-direction: column;
    font-family:cursive ;
    justify-content: center;
    position: relative;
    padding-top: 3%;
    margin: auto;
    padding-left: 30%;
}
.Seconddiv{
    height: auto;
    justify-content: center;
    display: flex;
    flex-direction: row;
    /* width: 50%; */
}
.Textdiv{
    width: 50%;
    justify-content: center;
    font-family:fantasy ;
    text-align: center;
    /* padding-left: 25%; */
    margin: auto;
    display: flex;
    flex-direction: column;
    /* width: 50%; */
}
.err{
    font-family:fantasy ;
    color: rgb(255, 0, 0);
}
.Loading{
    padding: 40% 50% 50% 50%;
}
.NavItem {
    text-decoration: none;
    padding: 25%
}