.buttonSpace{
    background-color: rgb(88, 230, 240);
    margin:1px 5px 1px 5px;
    padding-bottom: 8px;
    
    /* padding:0 0 10px 0; */
    height: 35px;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.Button {
    background-color: transparent;
    border: none;
    color : black;
    display: block;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding-top: 6px ;
    /* padding: 20px 20px 40px 40px; */
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
.Icon{
    height: 25px;
    width: 25px;
    color: black;
    /* align-content: center; */
    padding-top: 5px;
    /* padding-right: 10px; */
    /* padding-top: 6px; */
}
.buttonSpace:hover{
    background-color: rgb(122, 255, 177);
    
}